@import url('http://fonts.cdnfonts.com/css/gotham-pro');
@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Inter&family=Montserrat&family=Roboto&display=swap');

:root {
    --darkblue: #001043;
    --white: #FFFFFF;
    --lightgrey: #DEDEDE;
    --grey: #F4F4F4;
    --darkgrey: #8E8E8E;
    --blue: #298ce9;
    --black: #000000;

}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    line-height: 1.4;
    font-weight: normal;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center ;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

.container {
    max-width: 1330px;
    padding: 50px 15px;
    margin: 0 auto;
}

.buttons-box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.buttons-box .button{
    background: var(--darkblue);
    
    padding: 33px 0;
    width: 255px;
    color: var(--white);
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 700;
    font-size: 14px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 2px 5px 10px 1px rgba(0,0,0,0.4);
}

.buttons-box a{
    margin: 50px 0 200px 0;
}


.poster {
    background-color: var(--blue);
    padding: 0;
}

.poster .container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.poster .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.poster .title-left {
    color: var(--white);
}

.poster p {
    margin: 26px 0;
}

.poster a {
    color: var(--white);
}

.poster .btn {
    width: 220px;
}

.poster .right {
    padding: 70px;
}

.poster .img {
    max-width: 560px;
    width: 100%;
}